.parent{
    background-color: blue;
    padding: 15px;
}
.chld-1{
    background-color: rgb(206, 40, 40);
    display: inline-block;
}
.chld-2{
    background-color: green;
    display: inline-block;
}
.chld-3{
    background-color: yellow;
    display: inline-block;
    padding: 20px;
}
nav{
    display: flex;
    justify-content: right;
}

nav ul{
    
    display: flex;
    justify-content: space-around;
}
nav li{
    list-style: none;
    padding: 10px;
    border-radius: 1px;
    border-radius: 5px;
    margin: 10px;
    
}
nav li:hover{
    background-color: green;
}

li::before{
    content: '';
}

