.parent{
    background-color: blue;
    padding: 15px;
}
.chld-1{
    background-color: rgb(206, 40, 40);
    display: inline-block;
}
.chld-2{
    background-color: green;
    display: inline-block;
}
.chld-3{
    background-color: yellow;
    display: inline-block;
    padding: 20px;
}
nav{
    display: flex;
    justify-content: right;
}

nav ul{
    
    display: flex;
    justify-content: space-around;
}
nav li{
    list-style: none;
    padding: 10px;
    border-radius: 1px;
    border-radius: 5px;
    margin: 10px;
    
}
nav li:hover{
    background-color: green;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.img{
   
    position: relative;
    width: 300px;
    background-color: green;
}
.img img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   

}
.img button{
    background-color: green;
    border: 15px;
    border-radius: 10px;
    padding: 25px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(60%, 60%);
    
    
}
.flex div{
    margin: 1px 25px;
}
li::before{
    content: '';
}

